*~
*.elc
CVS
.svn
ede-projects.el
elisp-git

dict-english.el
dict-latex-env.el
dict-latex-math.el
dict-latex.el

site-lisp/predictive/dict-english.el
site-lisp/predictive/latex/dict-latex-env.el
site-lisp/predictive/latex/dict-latex-preamble.el
site-lisp/predictive/latex/dict-latex.el

elpa
eshell
site-lisp/jdee-server

platform-settings.el